@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div>
            <div class="footer">
                <h2 style="text-align:center"> Historia de Electro</h2>
                <br/>
                <p style="font-size: 18px; margin-left:50px; text-align:justify">
                    Fundada en 2006 como Repuestos Rojas, hemos evolucionado y nos complace presentar nuestra nueva identidad como Electro, 
                    una transformación que refleja nuestro compromiso con la innovación y la excelencia en el mundo de los repuestos automotrices.<br/><br/>
                    Con más de una década de experiencia en el mercado, en Electro hemos dedicado nuestro esfuerzo a proporcionar soluciones de alta calidad para 
                    las necesidades de repuestos vehiculares. A medida que avanzamos hacia esta nueva etapa, mantenemos nuestros valores fundamentales de confiabilidad,
                    calidad y servicio al cliente. <br/><br />
                    Nuestro cambio de nombre en 2020 marcó un emocionante capítulo en nuestra historia. A través de un rebranding estratégico, 
                    buscamos destacar nuestra pasión por las tecnologías emergentes y las soluciones vanguardistas en el mundo automotriz. 
                    En Electro, no solo ofrecemos repuestos; ofrecemos una experiencia en la que la innovación se encuentra con la funcionalidad. <br/><br/>
                    Nuestro equipo de expertos en Electro está comprometido con tu satisfacción. Trabajamos incansablemente para mantenerte en movimiento, 
                    brindándote repuestos de primera categoría que cumplen con los estándares más exigentes de la industria. <br/><br/>
                    Gracias por ser parte de nuestro viaje. ¡Estamos emocionados por lo que el futuro de Electro tiene reservado para ti y tu vehículo!"
                </p>
            </div>
        </div>
    </div>
</div>
