@{
    ViewBag.Title = "Terminos";
}

<div class="container">
    <div class="row">
        <div>
            <div class="footer">
                <h2 style="text-align:center">Términos y Condiciones:</h2>
                <br/>
                <p style="font-size: 18px; margin-left:50px; text-align:justify">
                    <strong>Uso Responsable:</strong> Al acceder a nuestro sitio web y utilizar nuestros servicios, aceptas utilizarlos de manera responsable y cumplir con las leyes aplicables.<br/>
                    <strong>Información del Usuario:</strong> Mantén tu información actualizada y segura al utilizar nuestros servicios.<br/>
                    <strong>Propiedad Intelectual:</strong> El contenido en nuestro sitio web es propiedad de Electro y está protegido por leyes de propiedad intelectual.<br/>
                    <strong>Precios y Disponibilidad:</strong> Los precios y disponibilidad de repuestos pueden variar. Intentamos proporcionar información precisa, pero no garantizamos actualizaciones constantes.<br/>
                    <strong>Política de Devoluciones:</strong> Sujeta a nuestra política vigente al momento de la compra.<br/>
                    <strong>Limitación de Responsabilidad:</strong> No seremos responsables por daños directos o indirectos derivados de tu uso de nuestros servicios.<br/>
                    <strong>Modificaciones a los Términos:</strong> Nos reservamos el derecho de modificar estos términos en cualquier momento.<br/><br />
                </p>
            </div>
        </div>
    </div>
</div>
